alembic==1.20.0
av==19.0.1
blake3==1.0.10
comfy-aimdo==0.5.5
comfy-angle==0.1.1
comfy-kitchen==0.2.37
comfyui-embedded-docs==0.5.13
comfyui-workflow-templates-core==0.3.367
comfyui-workflow-templates-json==0.1.102
comfyui-workflow-templates-media-api==0.3.84
comfyui-workflow-templates-media-assets-01==0.1.48
comfyui-workflow-templates-media-assets-02==0.1.9
comfyui-workflow-templates-media-image==0.3.160
comfyui-workflow-templates-media-other==0.3.229
comfyui-workflow-templates-media-video==0.3.101
comfyui_frontend_package==1.53.10
comfyui_workflow_templates==0.11.76
jedi==0.19.2
kornia==0.8.3
kornia_rs==0.2.0
pydantic-settings==2.15.0
simpleeval==1.0.8
spandrel==0.4.2
torchsde==0.2.6
trampoline==0.1.2
websocket-client==1.8.0
